dataoneTypes_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  targetNamespace="http://ns.dataone.org/service/types/v2.0"
	xmlns:d1="http://ns.dataone.org/service/types/v1"
    xmlns:d1_v1.1="http://ns.dataone.org/service/types/v1.1"
    xmlns:d1_v2.0="http://ns.dataone.org/service/types/v2.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="2.0.0"
    elementFormDefault="unqualified" attributeFormDefault="unqualified">

<!-- 
$HeadURL: https://repository.dataone.org/software/cicore/branches/D1_SCHEMA_v1.1/dataoneTypes.xsd $
$Id: dataoneTypes.xsd 10341 2012-10-10 14:07:49Z vieglais $

About this document:

  This XML Schema document defines the common data structures that are used
  to support messaging between the major components of the DataONE
  infrastructure and to guide structure design for storage of information
  required for normal operations.

License:

  This work was created by participants in the DataONE project, and is
  jointly copyrighted by participating institutions in DataONE. For
  more information on DataONE, see our web site at http://dataone.org.

    Copyright 2014

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

Formatting: 

  - This document should be saved as a UTF-8 encoded file.

  - Indent using spaces, not tabs, with two spaces per indent level.

  - Line wrapping should be set to 80 chars, adjusted as necessary

  - Documentation entries contain formatting instructions for integration with
    the DataONE architecture documentation, available at:

      http://mule1.dataone.org/ArchitectureDocs-current

-->

<!-- ************************************
        DEFINE REUSABLE SIMPLE TYPES HERE 
        ************************************ -->



  <!-- ***************************************
          DEFINE REUSABLE COMPLEX  TYPES HERE 
          *************************************** -->

  <!-- NOTE THAT ALL SERIALIZEABLE ROOT ELEMENTS FOR MESSAGES SHOULD BE OF A
       COMPLEX TYPE -->

    <xs:import namespace="http://ns.dataone.org/service/types/v1.1" 
        schemaLocation="http://ns.dataone.org/service/types/v1.1" />


	<!-- Updated SystemMetadata type -->
	<xs:complexType name="SystemMetadata" >
	    <xs:annotation>
	      <xs:documentation> System metadata (often referred to as
	      :term:`sysmeta`) is the information used by DataONE to track and manage
	      objects across the distributed Coordinating and Member Nodes of the
	      network. System metadata documents contain low level information (e.g.
	      size, type, owner, access control rules) about managed objects such as
	      science data, science metadata, and resource map objects and the
	      relationships between objects (e.g. *obsoletes* and
	      *obsoletedBy*).</xs:documentation>
	      <xs:documentation> The information is maintained dynamically by
	      Coordinating Nodes and is mutable in that it reflects the current state
	      of an object in the system. Initial properties of system metadata are
	      generated by clients and Member Nodes. After object synchronization, the
	      Coordinating Nodes hold authoritative copies of system metadata. Mirror
	      copies of system metadata are maintained at each of the Coordinating
	      nodes. </xs:documentation>
	      <xs:documentation> System metadata are considered operational
	      information needed to run DataONE, and can be read by all Coordinating
	      Nodes and Member Nodes in the course of service provision. In order to
	      reduce issues with third-party tracking of data status information,
	      users can read system metadata for an object if they have the access
	      rights to read the corresponding object which a system metadata record
	      describes. </xs:documentation>
	      <xs:documentation> System Metadata elements are partitioned into two
	      classes: metadata elements that must be provided by client software to
	      the DataONE system, and elements that are generated by DataONE itself in
	      the course of managing objects. </xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
    		<xs:extension base="d1:SystemMetadata">
    			<xs:sequence>
    				<xs:element name="seriesId" type="d1:Identifier">
				        <xs:annotation>
				          <xs:documentation>The :term:`seriesId` is a unique Unicode string
				          that can be used to identify an object revision chain in DataONE.
				          When included, the seriesId can be used to reference the latest version of 
				          and object in the revision chain. API methods that rely on byte fixity 
				          (e.g. for content replication) will not accept seriesId in place of discrete identifiers.
				          The values used for seriesId must be unique within DataONE and cannot be the same as the 
				          primary identifier of an object. The same encoding rules used for identifier values apply 
				          to seriesId values.</xs:documentation>
				        </xs:annotation>
				      </xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>	
   	</xs:complexType>
   	
   	<!-- Updated Node type to allow for Service Extensions-->
	<xs:complexType name="Node">
	    <xs:annotation>
	      <xs:documentation>A set of values that describe a member or coordinating
	      node, its Internet location, and the services it supports. Several nodes
	      may exist on a single physical device or hostname. </xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
    		<xs:extension base="d1:Node">
    			<xs:sequence>
					<xs:element name="serviceExtensions" type="xs:string">
						<xs:annotation>
						  <xs:documentation>TODO: define the content of this?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="property" type="Property" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
						  <xs:documentation>Allows additional attributes be added to the Node document as needed</xs:documentation>
						</xs:annotation>
					</xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>	
   	</xs:complexType>
   	
   	<!-- Property extension-->
	<xs:complexType name="Property">
	    <xs:annotation>
	      <xs:documentation>Additional Property elements can be included to describe the Node in more detail.
	      Some properties will come from controlled vocabularies, indicated by the type attribute, while 
	      others will be free-form key value pairs.</xs:documentation>
	    </xs:annotation>
	    <xs:simpleContent>
    		<xs:extension base="d1:NonEmptyString">
    			<xs:attribute name="key" type="xs:string" use="required">
	    			<xs:annotation>
			        	<xs:documentation>The property key for this entry. Should be unique within the Node element</xs:documentation>
					</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="type" type="xs:string" use="optional">
    				<xs:annotation>
			        	<xs:documentation>The optional type for the property. Can be used to indicate if a controlled vocabulary is used for the 
			        	property key to better facilitate machine interpretation.</xs:documentation>
					</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:simpleContent>	
   	</xs:complexType>
   	
   	<!-- Updated ObjectFormat type to allow for MIME type and extension -->
	<xs:complexType name="ObjectFormat">
	    <xs:annotation>
			<xs:documentation>One value from the DataONE Object Format Vocabulary
			which is returned by :func:`CNCore.getFormat()`.</xs:documentation>
			<xs:documentation>An *ObjectFormat* is the structure returned from the
			:func:`CNCore.getFormat()` method of the CN REST interface. It provides
			the unique identifier and the name associated with the object format.
			Future versions may contain additional structured content from external
			common typing systems. </xs:documentation>
		</xs:annotation>
	    <xs:complexContent>
    		<xs:extension base="d1:ObjectFormat">
    			<xs:sequence>
    				<xs:element name="mimeType" type="xs:string">
				        <xs:annotation>
				          <xs:documentation>The MIME type for this object format.</xs:documentation>
				        </xs:annotation>
					</xs:element>
					<xs:element name="extension" type="xs:string">
				        <xs:annotation>
				          <xs:documentation>The extension to be used when serializing the object to a file.</xs:documentation>
				        </xs:annotation>
					</xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>	
   	</xs:complexType>
   	
	<!--  ObjectFormatList -->
	<xs:complexType name="ObjectFormatList">
		<xs:annotation>  
		  <xs:documentation>An ObjectFormatList is the structure returned from the
		  :func:`CNCore.listFormats()` method of the CN REST interface. It
		  provides a list of named object formats defined in the DataONE system.
		  Each :class:`Types.ObjectFormat` returned in the list describes the
		  object format via its name, and future versions may contain additional
		  structured content from common external typing systems.
		  </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
		  <xs:extension base="d1:Slice">
		    <xs:sequence>
		      <xs:element name="objectFormat" type="d1_v2.0:ObjectFormat" minOccurs="1" 
		                  maxOccurs="unbounded" />
		    </xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--  Log -->
	<xs:complexType name="Log">
	  <xs:annotation>
	    <xs:documentation>Represents a collection of :class:`Types.LogEntry`
	    elements, used to transfer log information between DataONE
	    components.</xs:documentation>
	  </xs:annotation>
	  <xs:complexContent>
	    <xs:extension base="d1:Slice">
	      <xs:sequence>
	        <xs:element name="logEntry" type="d1_v2.0:LogEntry" minOccurs="0"
	          maxOccurs="unbounded" />
	      </xs:sequence>
	    </xs:extension>
	  </xs:complexContent>
	</xs:complexType>
	
	<!-- LogEntry -->
	<xs:complexType name="LogEntry">
	  <xs:annotation>
	    <xs:documentation>A single log entry as reported by a Member Node or
	    Coordinating Node through the :func:`MNCore.getLogRecords` or
	    :func:`CNCore.getLogRecords` methods.</xs:documentation>
	  </xs:annotation>
	  <xs:sequence>
	    <xs:element name="entryId" type="d1:NonEmptyString" 
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>A unique identifier for this log entry. The
	        identifier should be unique for a particular node; This is not drawn
	        from the same value space as other identifiers in DataONE, and so is
	        not subjec to the same restrictions.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="identifier" type="d1:Identifier" 
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>The :term:`identifier` of the object that was the
	        target of the operation which generated this log entry.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="ipAddress" type="xs:string"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>The IP address, as reported by the service receiving
	        the request, of the request origin.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="userAgent" type="xs:string"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>The user agent of the client making the request, as
	        reported in the User-Agent HTTP header.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="subject" type="d1:Subject"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>The :term:`Subject` used for making the request.
	        This may be the DataONE :term:`public` user if the request is not
	        authenticated, otherwise it will be the *Subject* of the certificate
	        used for authenticating the request.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="event" type="d1:NonEmptyString"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>A non-empty string that indicates the type of even logged.
	        A value from the :class:`Types.Event` enumeration is recommended but no longer required.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="dateLogged" type="xs:dateTime"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>A :class:`Types.DateTime` time stamp indicating when
	        the event triggering the log message ocurred. Note that all time
	        stamps in DataONE are in UTC.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	    <xs:element name="nodeIdentifier" type="d1:NodeReference"
	        minOccurs="1" maxOccurs="1">
	      <xs:annotation>
	        <xs:documentation>The unique identifier for the node where the log
	        message was generated.</xs:documentation>
	      </xs:annotation>
	    </xs:element>
	  </xs:sequence>
	</xs:complexType>
	
	
  <!-- OptionList -->
  <xs:complexType name="OptionList">
    <xs:annotation>
      <xs:documentation>A list of options that indicate the possible values for 
        a DataONE service.  Each option that can be validly sent to a service is listed, providing the specific key that should be used when interacting with the service, as well as a description of that key that allows API users to understand the usage of the key.  For example, an OptionList might contain a list of themes that can be used with the MNView.view service, or for other services that have a configurable but controlled set of parameters.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name ="option" type="d1:NonEmptyString" 
        minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The key to be used within an API call to a DataONE 
          service, including a description of the key and its impact on the 
          service. For example, a key 'default' can be provided as the theme for 
          the MNView.view service.  Keys must not contain characters that will 
          need to be URL escaped.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="key" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>A value that can be used with a DataONE
        service. Key values must not contain any characters that need to be 
        URL escaped, and should be short and informative. 
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The description of an option, indicating its
        intended use and impact on a DataONE service invocation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ******************************************
          DEFINE ROOT ELEMENTS OF MESSAGES HERE 
          ****************************************** -->
  <!-- NOTE THAT ALL SERIALIZEABLE ROOT ELEMENTS FOR MESSAGES SHOULD BE OF A 
       COMPLEX TYPE -->

  <!-- These root-level element definitions are provided for selected types so
       that those types can be used in serialized messages in method calls in
       DataONE. Any type that is included as a parameter to or a return type
       from a DataONE service should have a corresponding root element of that
       type defined here.
  -->

  <xs:element name="optionList" type="d1_v2.0:OptionList" />
  <xs:element name="systemMetadata" type="d1_v2.0:SystemMetadata" />
  <xs:element name="node" type="d1_v2.0:Node" />
  <xs:element name="objectFormat" type="d1_v2.0:ObjectFormat" />  
  <xs:element name="objectFormatList" type="d1_v2.0:ObjectFormatList" />
  <xs:element name="log" type="d1_v2.0:Log" />
  <xs:element name="logEntry" type="d1_v2.0:LogEntry" />
  
</xs:schema>

